---
- name: check if log file exists at filesystem
  stat:
    path: "{{ item.path }}"
  with_items: "{{ logs }}"
  when: logs is defined
  register: customPaths

- name: Find IHS log paths with regexp's
  find:
    path: /log/apps
    patterns: 'error_log,access_log'
    recurse: yes
  when: IHS == "true"
  register: IHS

- name: Find WAS log paths with regexp's
  find:
    path: /log/apps
    pattern: 'SystemOut.log,SystemErr.log'
    recurse: yes
  when: WAS == "true"
  register: WAS

#- debug: var=item
#  with_items: "{{ IHS.files }}"

#- debug: var=item
#  with_items: "{{ IHS.matched }}"

- name: Installing logTruncate at {{ installPath }}
  template:
    src: templates/logTruncate.j2
    dest: '{{ installPath }}'
    group: sys
    owner: root
    mode: 0655
  when: customPaths is defined or IHS is defined or WAS is defined
...
