---
- name: check if log file exists at filesystem
  stat:
    path: "{{ item.path }}"
  with_items: "{{ logs }}"
  register: customPaths

- name: Find IHS log paths with regexp's
  find:
    path: /log/apps
    pattern: 'SystemError.log'
    recurse: yes
  when: IHS == "yes"
  register: IHS

- name: Find WAS log paths with regexp's
  find:
    path: /log/apps
    pattern: 'SystemOut.log'
    recurse: yes
  when: WAS == "yes"
  register: WAS

- debug: var=item.path
  with_items: "{{ IHS.files }}"


- name: Installing logTruncate at {{ installPath }}
  template:
    src: templates/logTruncate.j2
    dest: '{{ installPath }}'
    group: sys
    owner: root
    mode: 0655
...








# tasks file for logTruncate
#- name: Find path with regexp's
#  find:
#    path: /log/apps
#    pattern: 'SystemError.log'
#    recurse: yes
#  register: output

#- debug: var=item.path
#  with_items: "{{ output.files }}"

